{% extends "base_template.html" %}

{% block title %}registr{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-direction-column justify-content-center">
            <div class="col-sm-12 my-3 text-center">
                <h3>REGISTER ACCOUNT</h3>
            </div>
            <div class="col-sm-12 d-flex justify-content-center form_container">
                <form action="." method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="py-1">
                                <div class="text-sm-left text-md-right label_container">{{ field.label }}</div>
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-dark" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 text-center">
                Already have an account? <a href="{% url 'account:login' %}" class="login_link">log-in</a>
            </div>
        </div>
    </div>
{% endblock %}
